{% extends "store/base.html" %}
{% block  content %}

<p>
  <span class="btn btn-warning">
      <a  style="color: white; font-size: 15px;" href="">Agregar Dirección</a>
  </span>
</p>
{% if   direcciones %}
    {% for direccion in  direcciones %}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ direccion.direccion1}}</h5>
            <div>
                <button type="button" name="button">Actualizar</button>
                <button type="button" name="button"  style="width:86px">Borrar</button>
            </div>

          </div>
        </a>
      </div>
    {% endfor %}
{% else %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h7 class="mb-1">No hay elementos que mostrar</h7>
    </div>
  </a>
</div>
{% endif %}

{% endblock %}
