{% extends "store/base.html" %}
{% block  content %}

<p>
      <a class="btn btn-warning">Agregar Dirección</a>
</p>
{% if   direcciones %}
    {% for direccion in  direcciones %}
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="width:100%">
            <h5 class="mb-2">{{ direccion.direccion1}}</h5>
            <div>
                <a class="btn btn-info" href="{% url 'store:direccion_update' pk=direccion.id %}">Actualizar</a>
                <button  class="btn btn-danger" type="button" name="button"  style="width:86px">Borrar</button>
            </div>

          </div>
        </a>
      </div>
    {% endfor %}
{% else %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h7 class="mb-1">No hay elementos que mostrar</h7>
    </div>
  </a>
</div>
{% endif %}

{% endblock %}
